 body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 70, 42);
 }
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50vw;
}

.profile{
    width: 100px;
}

img{
    width: 100%;
    border-radius: 20px;
}

.card{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: rgba(180, 111, 20, 0.774);
    height: 100%;
    width: 50vw;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
}


.about, .education, .contact{
    margin:10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(226, 175, 66, 0.795);
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.contact{
    margin-bottom: 0;
    width: 50vw;
    display: flex;
    justify-content:space-around;
    font-size: 25px;
    text-decoration: none;
    color: black;
        
}
.contact a{
    color: rgb(255, 255, 255);
}
h2, h3, h4, h5{
    color: aliceblue;
}
.education, .about{
    display: flex;
    flex-direction: column;
}

.download-res{
    text-decoration: none;
    color: black;
    border: 2px solid rgb(221, 125, 0);
    padding: 8px;
    border-radius: 8px;
}
